<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Leagues</h1>
<table>
    <thead>
    <tr>
        <th th:text="ID">ID</th>
        <th th:text="Name">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="l: ${league}">
        <td th:text="${l.id}">Oranges</td>
        <td th:text="${l.name}">0.99</td>
    </tr>
    </tbody>
</table>

<p><a href="/teams">Teams overview</a></p>
<form action="#" th:action="@{/leagues}" th:object="${league}" method="post">
    <input type="text" th:value="${name}" name="name"/>
    <input type="submit"/>
</form>
</body>
</html>