<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>
<h1>TEAMS</h1>
<div class="container">
<table>
    <thead class="table table-bordered" style="width: 100%">
    <tr>
        <th th:text="ID">ID</th>
        <th th:text="Name"></th>
        <th th:text="Home"></th>
        <th th:text="League"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="x: ${team}">
        <td th:text="${x.id}"></td>
        <td th:text="${x.name}"></td>
        <td th:text="${x.home}"></td>
        <td th:text="${x.league}"></td>
        <td>
            <a th:href="@{teams/specificTeam(id=${x.id})}" class="btn btn-info">Update</a>
        </td>
        <td>
            <a th:href="@{teams/delete(id=${x.id})}" class="btn btn-danger">Delete</a>

        </td>

    </tr>
    </tbody>

</table>

<p><a href="/leagues">Leagues overview</a></p>

<form action="#" th:action="@{/teams}" th:object="${teams}" method="post">
    <input type="text" th:value="${name}" name="name"/><br/>
    <input type="text" th:value="${home}" name="home"/><br/>
    <input type="text" th:value="${leagueId}" name="leagueId"/><br/>
    <input type="submit"/>
</form>

</div>
</body>
</html>